.row
    p
        button(ng-click='sync()') Sync Load data
        button(ng-click='async()') Async Load data
        button(ng-click='changeCols()') Change Cols
#jqxWidget(style='font-size: 13px; font-family: Verdana; float: left;')
    my-grid(grid-opt="gridOptions")
    #eventslog(style='margin-top: 30px;')
        div(style='float: left; margin-right: 10px;')
        input#clearsortingbutton(value='Remove Sort', type='button')
        #sortbackground(style='margin-top: 10px;') Sort Background
            div(style='margin-left: 100px; float: left;')
                | Event Log:
                #events(style='border: none;')
